<!DOCTYPE html>
{% extends 'basic_users/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" id="">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}